h1 {
	background: #2196F3;
    color: white;
    padding: 20px 0px 20px;
    text-transform: capitalize;
    padding-right: 20px;
    padding-left: 20px;
}

a{
	text-decoration: none;
}

.title{
	width: 70%;
	float: left;
}

.Checkout{
	width: 30%;
	float: left;
	text-align: right;
}
.main-div{
	width: 100%;
	float: left;
}